
data/basijuan_cargos_vigentes.xls
__pycache__/funciones.cpython-37.pyc
__pycache__/funciones_pasador.cpython-37.pyc
data/Asignaturas, responsables y áreas por División.xlsx
data/basijuan_cargos_vigentes (1).xls
data/basijuan_cargos_vigentes (1).xlsx
data/basijuan_cargos_vigentes.xlsx
data/basijuan_cat_escal_Por_Cargo_cuadro (1).xlsx
data/basijuan_cat_escal_Por_Cargo_cuadro.xlsx
data/basijuan_domicilio_todos (1).xlsx
data/basijuan_domicilio_todos.xls
data/basijuan_domicilio_todos.xlsx
data/basijuan_nivel_educacion_max_nivel_cuadro (1).xlsx
data/basijuan_nivel_educacion_max_nivel_cuadro.xlsx
data/Equipos_Docentes_2-2019-1-2020.xlsx
data/Equipos_docentes_acumuldado.xlsx
data/Inscriptos-2-2019_1-2020-Basicas.xlsx
dumps/dump-20200501.backup
