
data/basijuan_cargos_vigentes.xls
__pycache__/funciones.cpython-37.pyc
__pycache__/funciones_pasador.cpython-37.pyc
data/Asignaturas, responsables y áreas por División.xlsx
data/basijuan_cargos_vigentes (1).xls
data/basijuan_cargos_vigentes (1).xlsx
data/basijuan_cargos_vigentes.xlsx
data/basijuan_cat_escal_Por_Cargo_cuadro (1).xlsx
data/basijuan_cat_escal_Por_Cargo_cuadro.xlsx
data/basijuan_domicilio_todos (1).xlsx
data/basijuan_domicilio_todos.xls
data/basijuan_domicilio_todos.xlsx
data/basijuan_nivel_educacion_max_nivel_cuadro (1).xlsx
data/basijuan_nivel_educacion_max_nivel_cuadro.xlsx
data/Equipos_Docentes_2-2019-1-2020.xlsx
data/Equipos_docentes_acumuldado.xlsx
data/Inscriptos-2-2019_1-2020-Basicas.xlsx
dumps/dump-20200501.backup
__pycache__/funciones_pasador.cpython-38.pyc
data/anteriores/basijuan_cargos_vigentes.xlsx
data/anteriores/basijuan_cat_escal_Por_Cargo_cuadro.xlsx
data/anteriores/basijuan_domicilio_todos.xlsx
data/anteriores/basijuan_nivel_educacion_max_nivel_cuadro.xlsx
data/anteriores/Equipos_Docentes_2-2019-1-2020.xlsx
data/carreras.csv
data/Equipos_docentes-2-2019_al_2-2021.xlsx
data/Inscriptos-2-2019_2-2021-Basicas.xlsx
data/Equipos_docentes-2-2019_al_2-2021.xlsx
data/Inscriptos-2-2019_2-2021-Basicas.xlsx
__pycache__/funciones_pasador.cpython-38.pyc
data/carreras.csv
__pycache__/funciones.cpython-38.pyc
der/der.dia~
app/credenciales.py
app/__pycache__/credenciales.cpython-38.pyc
app/reportes/División-Biología.xlsx
app/reportes/División-Computación.xlsx
app/reportes/División-Estadística.xlsx
app/reportes/División-Física.xlsx
app/reportes/División-Matemática.xlsx
app/reportes/División-Química.xlsx
querys/apostolo_equipo.sql
app/reportes/División-Biología-al-2022-03-12.xlsx
app/reportes/División-Computación-al-2022-03-12.xlsx
app/reportes/División-Estadística-al-2022-03-12.xlsx
app/reportes/División-Física-al-2022-03-12.xlsx
app/reportes/División-Matemática-al-2022-03-12.xlsx
app/reportes/División-Química-al-2022-03-12.xlsx
